doctype html
html
	head
		meta(name='viewport', content="width=device-width, initial-scale=1.0, maximum-scale=1.3, minimum-scale=0.5, user-scalable=yes")
		meta(name='apple-mobile-web-app-capable', content="yes")
		title= title
		link(rel='stylesheet', href='/stylesheets/client.css')
		script(src='/javascripts/kinetic-v4.4.1.min.js')
		script(src='/javascripts/Util.js')
		script(src='/javascripts/Map.js')
	body(  onload="init()", style="background-color: rgb(209, 172, 85);" )
		br
		br
		a#editMap(href="adminMapEdit"  )
			span Edit current map
		br
		br
		a#editMap(href="adminMapEdit?newMap=yes"  )
			span Edit a NEW map 
		br
		br
		a(href="backup.zip")
			span Save ZIP of current map and game settings
		br
		br
		br
		span 
			b Restore backup in this game (Danger !) :
		form#formadmin(action="restore", method="post", enctype="multipart/form-data", autocomplete="off")
			input(type="hidden", id="wizardId", value= wizard, name='wizardId')
			input(type="hidden", id="gameId", value= gameId, name='gameId')
			input(type='file', accept='.zip', name='zipbackup')
			input(type="submit", value="Send map/game and ERASE old one !", name="ok")
		br
		br
		span 
			b Change game settings :
		form#adminchangeparam(action="/" + gameId + "/adminchangeparam", method="post")
			input(type="hidden", id="wizardId", value= wizard, name='wizardId')
			input(type="hidden", id="gameId", value= gameId, name='gameId')
			p Turn duration (minute, 1440 for a day) : 
				input(type='number', name='turnDuration', value=turnDuration )
			p Date of last resolution (year-month-day...). Next turn will occur at this date plus next turn duration : 
				input(type="text", name='turnLastDate', value=turnLastDate, size=30)
			p Activate bots (beta test, set to true if you want to activate them) : 
				input(type="text", name='aiEnabled', value=aiEnabled, size=30)
			p Remove all units on map (set to true to erase) : 
				input(type="text", name='unitsReset', value='false', size=30)
			p Erase diplomaty (set to true to erase) : 
				input(type="text", name='diploReset', value='false', size=30)
			input(type="submit", value="Validate settings", name="ok")
		br
		br
		span 
			b Players list (read only, useful to send mail) :
		each wizard, i in users
			div
				form(action="/" + gameId + "/changeUsers", method="post")
					image(src='/images/color' + wizard.id + '.png')
					input(type="text", name="username" value=wizard.username)
					span=wizard.wizardname
					//value=wizard.password to ignore password, value="" to force password
					input(type="text", name="password" value=wizard.password) 
					//input(type="submit", name="Submit")
					a(href="mailto:" + wizard.email + "?subject=L8S " + gameId + "&body=user=" + wizard.wizardname + "    password=" + wizard.password)
						span mailto
